html {
  overflow-y: scroll; /* ページが縦方向にスクロールできるように設定 */
}

/* ヘッダーや重要なボタンのプライマリカラー */
.custom-card-title,
.btn-primary {
  background-color: #0056b3; /* 強く、信頼感のある青 */
  color: white; /* プライマリカラーの背景に対して文字色を白に設定 */
}

/* ホバー状態やフォーカス時のセカンダリカラー */
.btn-primary:hover,
.btn-primary:focus {
  background-color: #009688; /* ティール色 */
}

/* 一般的な背景色 */
body,
.page-background {
  background-color: #f4f4f4; /* 明るい灰色 */
  margin-right: calc(100vw - 100%); /* ページの右マージンを調整 */
}

/* カードの背景色 */
.card {
  background-color: #ffffff; /* 白色 */
}

/* カード内のタイトルやテキストの文字色 */
.card-title,
.card-text {
  color: #333333; /* ダークグレー */
}

/* サブアクセントカラー */
.text-muted {
  color: #6c757d; /* ミューテッドグレー */
}

/* 成功メッセージや確認のための色 */
.text-success,
.btn-success {
  color: #28a745; /* 新鮮な緑色 */
}

.container {
  padding: 2rem 15%; /* 両サイドに余白を追加 */
}

.row {
  justify-content: space-around; /* カード間に余白を追加 */
}

.product-card {
  margin: 1rem 0; /* 各カードの上下に余白を追加 */
  border-radius: 10px; /* カードの角を丸くする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 深みを出すための影 */
  overflow: hidden; /* カードの角が丸いため、はみ出しを防ぐ */
}

.image-placeholder {
  width: 100%;
  height: 200px; /* 固定の高さを設定（必要に応じて調整） */
  position: relative; /* 絶対位置に依存する子要素の基準 */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.image-placeholder img {
  position: absolute; /* プレースホルダー上に画像を配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ストレッチせず、領域にフィットさせる */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.no-image-available {
  width: 100%;
  height: 200px; /* デザインに応じて調整 */
  background-color: #ddd; /* 中立的な背景色 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #666;
  text-transform: uppercase;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-body {
  padding: 1rem;
  flex-grow: 1; /* 空きスペースを埋めるために拡大 */
  display: flex;
  flex-direction: column; /* 垂直方向に要素を配置 */
}

.date-added {
  margin-top: auto; /* 他の要素を上に押し上げ、これを下に配置 */
}

.card-footer {
  padding: 0;
  border-top: none; /* フッターの上に枠線をなくす */
}

.btn-primary {
  display: block; /* ボタンのデフォルトのインラインブロックを解除 */
  width: 100%; /* ボタンの幅を100%に設定 */
  box-sizing: border-box; /* 幅にパディングとボーダーを含める */
}

/* 新しいアイテムを強調表示するための色 */
.list-group-item-success {
  color: #28a745; /* 新しいアイテムに緑色を設定 */
}

/* 古いアイテムを警告色で強調表示 */
.list-group-item-warning {
  color: #ffc107; /* 古いアイテムに黄色を設定 */
}

/* ナビゲーションバーのブランドとリンクのカスタマイズ */
.navbar-brand, .nav-link {
  font-size: 1.2rem; /* フォントサイズを大きく */
  font-weight: 500; /* 中程度のフォントウェイトで視認性を向上 */
}

/* ナビゲーションリンクのフォントサイズと太さを増加 */
.nav-item .nav-link {
  font-size: 1.1rem; /* ナビゲーションリンクのフォントサイズを大きく */
  font-weight: bold; /* 強調のために太字 */
  color: #0056b3; /* 目立つ色を設定 */
}

/* ナビゲーションバーの背景色を変更 */
.navbar {
  padding-left: 8px;
  background-color: #f8f9fa; /* 明るい背景色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 深みを加える影 */
}

/* ナビゲーションリンクにホバーエフェクトを追加 */
.nav-item .nav-link:hover {
  color: #004085; /* ホバー時にダークな色に変更 */
  text-decoration: none; /* ホバー時の下線を削除 */
}

/* アクティブなナビゲーションリンクを強調表示 */
.nav-item.active .nav-link, .nav-item .nav-link.active {
  color: #d63384; /* アクティブなリンクに明確な色を設定 */
  background-color: transparent; /* 背景色を透明に設定 */
  text-decoration: underline; /* アクティブなリンクを下線で強調 */
  font-weight: bold; /* アクティブリンクを太字に */
}

/* ログインボタンのスタイル */
.nav-link.login-btn {
  background-color: #28a745; /* 緑色のログインボタン */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  margin-right: 5px;
  margin-left: 5px;
}

/* ログインボタンのホバー/フォーカス時のスタイル */
.nav-link.login-btn:hover,
.nav-link.login-btn:focus {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #218838; /* ホバー時にダークな緑色 */
  color: white;
  text-decoration: none;
}

/* 登録ボタンのスタイル */
.nav-link.register-btn {
  background-color: #0013e7; /* 青色の登録ボタン */
  color: white;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

/* 登録ボタンのホバー時のスタイル */
.nav-link.register-btn:hover {
  background-color: #0903b3; /* ホバー時に青色をダークに */
  color: white;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

/* ナビゲーションバーの崩れを防ぐための中央揃え */
.navbar-collapse{
  text-align: center;
}

/* 検索ボタンのスタイル */
.nav-link-search {
  background-color: #0388ad; /* 検索ボタンの青色 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

/* ギフトボタンのスタイル */
.nav-link-gift{
  background-color: #fa2104; /* ギフトボタンの赤色 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

/* ログアウトボタンのスタイル */
.nav-link.logout-btn {
  background-color: #dc3545; /* ログアウトボタンの赤色 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

/* ログアウトボタンのホバー/フォーカス時のスタイル */
.nav-link.logout-btn:hover,
.nav-link.logout-btn:focus {
  background-color: #c82333; /* ホバー時にダークな赤色 */
  color: white;
  text-decoration: none;
}

/* ナビゲーションバーのブランドのスタイル */
.navbar-brand,
.navbar-brand:hover{
  padding: 5px;
  background-color: #fa009e; /* ブランドの背景色 */
  color: rgb(255, 255, 255); /* 白色 */
  text-decoration: none; /* 下線を消去 */
  border-radius: 0.25rem; /* 角を丸める */
}

/* ブランドリンクのスタイル */
.navbar-brand-link {
  padding: 5px;
  color: rgb(255, 255, 255); /* 白色 */
  text-decoration: none; /* 下線を消去 */
}
